<div class="textInTheMiddle">
  <h1>Welcome to my pizza ordering app!</h1>
  <br />
  <h4>
    The purpose of this project is to demonstrate the use of
    <span style="color: #ff0000">reactive forms and template-driven forms</span>
    in Angular. <br />
    <br />

    1. Ordering Pizza tab allows users to dynamically add items using
    <span style="color: #ff0000">a reactive form.</span> <br />
    <br />
    2. Evaluate Staff page displays staff members, and users can upvote/downvote
    staff's evaluation. <br />
    <br />
    3. Sign Up page allows users to sign up with
    <span style="color: #ff0000">a template-driven form.</span> I used some
    <span style="color: #ff0000">custom regular expression directives</span>
    to check all inputs are valid.
    <br />
  </h4>
  <br />

  <h5>Languages Used: TypeScript, HTML, CSS</h5>
  <h5>Framework: Angular</h5>
  <h5>Tools: Node.js, Bootstrap, NGX-Bootstrap ,Github, VS Code</h5>
</div>
